<%= link_to "Home", root_path %>

<h2>Uncached Collection</h2>

<%= render partial: 'post', collection: @posts %>

<!-- <h2>Randomly Named Partial</h2>

<%#= render partial: 'random', collection: @posts, as: "post" %> -->
